@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
    font-style: normal;
    font-display: swap;
}

/* CUSTOM PROPERTY */
:root{

    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff;    
    
    --titles-weigth: 700;
    --text-weigth: 400;
    --menu-text-weigth: 500
}

/* RESET CSS */
body, img, h1, p, filter, legend, label, input, select, textarea, button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}